.flex {
  display: flex;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.song-bullets {
  list-style-type: none;
}

.song-bullets li {
  margin-bottom: 10px;
}



th, td {
  padding: 5px 15px;
  text-align:left;
}