{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "react-app"],
  "rules": {
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
