{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "react-app"],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
